<h1>{{ title }}</h1>

<ul>
    {{#each users}}
        <li> // 출력할 속성들을 지정 
            {{ StudentNumber }} / {{ Name }} / {{ Grade }} / {{ Major }} / {{ Date }} / {{ Email }}
            </a>
        </li>
    {{/each}}
</ul>
